// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*.navbar {
  display:flex;
  justify-content: space-between;
}
.row {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.row >div {

  width:300px;

}*/
